.bookshelf {
  padding: 0 10px 20px;
}

.bookshelf-title {
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  color: #666;
}

.bookshelf-books {
  text-align: center;

}
@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}
